
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Well done, you deserve a quote</h4>
      <button type="button" class="close" aria-label="Close" (click)="this.activeModal.close('close click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>"{{quote.text}}"</p>
      <h4>- {{quote.author}}</h4>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="this.activeModal.close('close click')">Close</button>
    </div>